
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Poppins; */
}


.container {
  width: 100%;
}

/* flaxible container start */

.header-section {
  width: 100%;
left: 0px;
top: 0px;
background: #2d25a0;
}

.flexible-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.content {
  margin-top: 67px;
} 

.content > h1 {
  height: 230px;
  left: 258px;
  top: 223px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  margin-top: 50px;
}

.half-width img {
  width: 556.01px;
  height: 438px;
  margin-top: 67px;
  margin-left: -125px; 
} 



.link-button {
  text-decoration: none;
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 10px 24px;
   display: inline-block; 
  transition: ease-in, transform 1s;
} 


.link-button:hover{
  transform: scaleX(1.5);
}


button{
  text-decoration: none;
 background-color: red;
 color: white;
 font-weight: 700;
 padding: 10px 24px;
 transition: ease-in, transform 1s;
}


button:hover{
  transform: scaleX(1.5);
}


/* main section start */
main {
  width: 100%;
  margin-top: 40px;
}
 
.size {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.player {
  align-items: center;
  width: 300px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.player-name {
  font-size: 2rem;
}

.player p {
  font-size: 20px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}
.player img {
  width: 100%;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 25px;
}
/* main section start */


/* section two start */
.section-two {
  width: 100%;
  margin-top: 100px;
}


.play-country {
  display: flex;
  justify-content: space-evenly;
}


.highlights {
  margin-left: 50px;
  margin-top: 15px;
}
.highlights h2 {
  font-size: 40px;
}



.play {
  width: 503px;
}

.Amet {
  width: 466px;
  height: 115px;
  left: 182px;
  top: 2948px;
} 

footer {
  margin-top: 50px;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 688px) {
  .main{
    width: 100%;
  }
  .players{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .play-country{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

  }

  .play{
    width: 300px;
  }
  .header-section {
   width: 100%;
  }
  .flexible-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .half-width img {
    width: 250px;
    align-items: center;
   
  }
  button {
    margin-bottom: 36px;
  }
  
 }  
